# Banco de Dados

* Componentes
  * Base de dados
  * Sistema Gerenciador de Bando de Dados (SGDB)
  * Linguagem de Manipulação
    *  Structered Query Language (SQL)
  * Programas adicionais

* Arquitetura
  * Cliente-Servidor

## Modelo Relacional
  
| nome | tipo | level | capturado em|
|---- |----|-----|----|
|Pikachu| Elétrico| 5| 08 jun 2021|
|Bulbassauro| Grama| 10| 10 fev 1990|
|Squirtle| Água| 12| 23 out 2015|

Tabela ou Relação

Linhas, Intâncias, Entradas, Registros, Tupla

Colunas, atributos, características

## Implementação em SQL

* dialetos: MySQL, PostreSQL, MariaDB, Oracle etc

* MySQL online: https://paiza.io/en/projects/new?language=mysql
* PostgreSQL as a Service: https://www.elephantsql.com/
* Sqlite e PostgreSQL: https://sqliteonline.com/

#### Criando um banco de dados dentro do SGDB
* MySQL
      CREATE DATABASE [IF NOT EXISTS] db_name
*PostgreSQL
      CREATE DATABASE name
*SQLite
      # Não tem (nesse formato)

### Linguagem de Descrição de Dados (DDL)


#### CREATE (Criar)
      CREATE [TEMPORARY] TABLE [IF NOT EXISTS] tbl_name
      [column_name column_type column_constraint, ...]
      [table_constraints, ...]

[MySQL types](https://dev.mysql.com/doc/refman/8.0/en/data-types.html) 
\- [PostrgreSQL types](https://www.postgresql.org/docs/9.5/datatype.html)
\- [SQLite types](https://www.sqlite.org/datatype3.html)

* Most used Constraints:

#### ALTER (alterar)
      ALTER TABLE tbl_name [alter_option, ...]

#### DROP (descartar)
      DROP TABLE [ IF EXISTS ] tbl_name [, ...]

### Linguagem de Manipulação de Dados (DML)


#### INSERT (inserir)

      INSERT  INTO tbl_name[(col_name [, col_name] ...)]
      VALUES (value_list) [, (value_list)] ...```


#### UPDATE (atualizar)
      UPDATE table_reference
      SET assignment_list
      [WHERE where_condition]

#### DELETE (deletar) 
      DELETE FROM tbl_name [WHERE where_condition]

### Linguagem de Consulta de Dados (DQL)


#### SELECT (SELECIONAR)

      SELECT [ALL | ISTINCT | DISTINCTROW ]
      select_expr [, select_expr] ...
      [FROM table_references
      [WHERE where_condition]
      [GROUP BY {col_name | expr | position}, ...]
      [HAVING where_condition]
      [ORDER BY {col_name | expr | position} [ASC | DESC], ...]
      [LIMIT {[offset,] row_count | row_count OFFSET offset}]

#### JOINS

### Linguagem de Transação de Dados (DTL)
### Linguagem de Controle de Dados (DCL)

# Integração com Python

In [ ]:
import sqlite3

In [ ]:
con = sqlite3.connect("aula.bd")

In [ ]:
con.execute("""CREATE TABLE Pokemon(
  id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
  nome VARCHAR(20) NOT NULL,
  tipo VARCHAR(15),
  nivel INTEGER DEFAULT 1,
  capturado_em DATE
  )""")

In [ ]:
pokemon = ['Pikachu', 'Metapod', 'Jynx']

for poke in pokemon:
  con.execute(f"INSERT INTO pokemon(nome) VALUES ('{poke}')")
con.commit()

In [ ]:
rs = con.execute("SELECT nome FROM pokemon")

In [ ]:
resultados = list(rs)
print(resultados)

[('Metapod',)]

In [ ]:
resultados[0][0]

'Metapod'

In [ ]:
for result in rs:
  print(f"Capturei o Pokemon: {result[0]}!!")

Capturei o Pokemon: Pikachu!!
Capturei o Pokemon: Metapod!!
Capturei o Pokemon: Jynx!!

In [ ]:
rs.fetchone()

('Jynx',)

In [ ]:
rs.fetchone()

In [ ]:
rs.fetchall()

[('Pikachu',), ('Metapod',), ('Jynx',)]

In [ ]:
rs.fetchmany(2)

[('Jynx',)]

## Psycopg2

In [ ]:
!pip install psycopg2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.8/dist-packages (2.9.5)

In [ ]:
import psycopg2

In [ ]:
#protocolo://usuario:senha@host:[porta]/banco
url = "postgresql://huycdosn:oZiVIMDMiEzd9Cr4nlqRvc1yWTRuT9Je@babar.db.elephantsql.com/huycdosn"
con = psycopg2.connect(url)
cur = con.cursor()

In [ ]:
cur.execute("""CREATE TABLE Treinadores (
   id SERIAL PRIMARY KEY,
   nome VARCHAR(20) not NULL,
   cidade VARCHAR(20)
 );""")

In [ ]:
cur.execute("""INSERT INTO Treinadores(nome, cidade) VALUES
('Ash', 'Pallet'),
('Feulo', 'SP');
""")

In [ ]:
con.commit()

In [ ]:
cur.execute("SELECT * FROM Treinadores;")
rs = cur.fetchall()

In [ ]:
print(rs), type(rs)

[(1, 'Ash', 'Pallet'), (2, 'Feulo', 'SP')]

(None, list)

# SQLAlchemy

In [ ]:
! pip freeze | grep SQLAlchemy

SQLAlchemy==2.0.5.post1

In [ ]:
! pip install -U sqlalchemy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.9/dist-packages (1.4.46)
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.5.post1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 28.7 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.9/dist-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/dist-packages (from sqlalchemy) (2.0.2)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.46
    Uninstalling SQLAlchemy-1.4.46:
      Successfully uninstalled SQLAlchemy-1.4.46
Successfully installed sqlalchemy-2.0.5.post1

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.sql import text

In [ ]:
environment = "TEST"

In [ ]:
# Cria a engine para o banco de dados
if environment == "PROD":
  eng = create_engine("postgresql://huycdosn:oZiVIMDMiEzd9Cr4nlqRvc1yWTRuT9Je@babar.db.elephantsql.com/huycdosn")#
else:
  eng = create_engine("sqlite:///pokemon.db")

In [ ]:
con = eng.connect()

In [ ]:
con.execute(text("""
CREATE TABLE Treinadores(
  codigo INTEGER PRIMARY KEY AUTOINCREMENT,
  nome VARCHAR(15),
  cidade VARCHAR(15),
  insignias SMALLINT
);
"""))

In [ ]:
con.close()

In [ ]:
# abre uma conexão com o banco e executa código SQL
with eng.connect() as con:
  con.execute(text("""CREATE TABLE Pokemon(
  codigo INTEGER PRIMARY KEY AUTOINCREMENT,
  nome VARCHAR(15),
  tipo VARCHAR(15),
  nivel SMALLINT,
  capturado_em TIMESTAMPTZ,
  codigo_treinador INTEGER NOT NULL REFERENCES Treinadores(codigo)
);"""))

In [ ]:
data = [
    {'nome': 'Ash', 'cidade': 'Pallet', 'insignias': 2},
    {'nome': 'Feulo','cidade': 'SP','insignias': 4},
    {'nome': 'Brock','cidade': 'Pewter', 'insignias': 1}
]
# Inserindo dados
#with eng_postgres.connect() as con:
with eng.connect() as con:
  for line in data:
    con.execute(text(f"INSERT INTO Treinadores(nome, cidade, insignias) VALUES('{line['nome']}', '{line['cidade']}', '{line['insignias']}')"))
  con.commit()

In [ ]:
# Recebendo dados
with eng.connect() as con:
  rs = con.execute(text("SELECT * FROM Treinadores"))
  print(rs.fetchall())

[(1, 'Ash', 'Pallet', 2), (2, 'Feulo', 'SP', 4), (3, 'Brock', 'Pewter', 1)]

### SQL Expression Language

#### Definição de Schemas

In [ ]:
from sqlalchemy import Table, Column, Integer, String, MetaData

In [ ]:
# Cria um ojeto de metadata. Metadatas são coleçoes de tabelas e sua infos
meta = MetaData()

In [ ]:
#Cria um objeto do tipo tabela que abstrai uma tabela no Banco de dados
treinadores = Table('Treinadores', meta,
     Column('codigo', Integer, primary_key=True, autoincrement=True),
     Column('nome', String(25)),
     Column('cidade', String(25)),
     Column('insignias', Integer),
     extend_existing=True
)

In [ ]:
print("The Name column:")
print(treinadores.columns.nome)
print(treinadores.c.nome)

print("Columns: ")
for col in treinadores.c:
    print(col)
    
print("Primary keys:")
for pk in treinadores.primary_key:
    print(pk)    

print("The codigo column:")
print(treinadores.c.codigo.name)
print(treinadores.c.codigo.type)
print(treinadores.c.codigo.nullable)
print(treinadores.c.codigo.primary_key)

The Name column:
Treinadores.nome
Treinadores.nome
Columns:
Treinadores.codigo
Treinadores.nome
Treinadores.cidade
Treinadores.insignias
Primary keys:
Treinadores.codigo
The codigo column:
codigo
INTEGER
False
True

In [ ]:
meta.reflect(bind=eng)
for table in meta.tables:
    print(table)

Treinadores
Pokemon

In [ ]:
from sqlalchemy import inspect

In [ ]:
insp = inspect(eng)
print(insp.get_table_names())
print(insp.get_columns("Pokemon"))
print(insp.get_pk_constraint("Pokemon"))

['Pokemon', 'Treinadores']
[{'name': 'codigo', 'type': INTEGER(), 'nullable': True, 'default': None, 'primary_key': 1}, {'name': 'nome', 'type': VARCHAR(length=15), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'tipo', 'type': VARCHAR(length=15), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'nivel', 'type': SMALLINT(), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'capturado_em', 'type': NUMERIC(), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'codigo_treinador', 'type': INTEGER(), 'nullable': False, 'default': None, 'primary_key': 0}]
{'constrained_columns': ['codigo'], 'name': None}

In [ ]:
pokecenters = Table('Pokecenters', meta,
  Column('codigo', Integer, primary_key=True),
  Column('cidade', String(25), nullable=False)
)

In [ ]:
meta.create_all(eng)

##### Expression Language (DML)

In [ ]:
#INSERT
with eng.connect() as con:
  stm = pokecenters.insert().values(
      [
        {'cidade': 'Pallet'},
        {'cidade': 'Veridian'}
      ])
  con.execute(stm)

In [ ]:
from sqlalchemy.sql import select

In [ ]:
# SELECT
with eng.connect() as con:
  stm = select(treinadores.c.nome, treinadores.c.insignias)
  rs = con.execute(stm) 
  print(rs.fetchall())

[('Ash', 2), ('Feulo', 4), ('Brock', 1)]

In [ ]:
# LIMIT
with eng.connect() as con:
  stm = select(treinadores.c.nome, treinadores.c.insignias).limit(1)
  rs = con.execute(stm) 
  print(rs.fetchall())

[('Ash', 2)]

In [ ]:
from sqlalchemy.sql import and_, or_

In [ ]:
# WHERE
with eng.connect() as con:
  stm = select(treinadores).where(and_(treinadores.c.insignias > 1, treinadores.c.nome == 'Brock'))
  rs = con.execute(stm) 
  print(rs.fetchall())

[]

In [ ]:
print(stm)

SELECT "Treinadores".codigo, "Treinadores".nome, "Treinadores".cidade, "Treinadores".insignias
FROM "Treinadores"
WHERE "Treinadores".insignias > :insignias_1 AND "Treinadores".nome = :nome_1

In [ ]:
#LIKE
with eng.connect() as con:
  stm = select(treinadores).where(treinadores.c.nome.like('F%'))
  rs = con.execute(stm) 
  print(rs.fetchall())

[(2, 'Feulo', 'SP', 4)]

In [ ]:
from sqlalchemy.sql import asc, desc

In [ ]:
# Order By
with eng.connect() as con:  
  s = select(treinadores.c['nome', 'insignias']).order_by(desc(treinadores.c.insignias))
  rs = con.execute(s) 
  for result in rs.fetchall():
    print(result[0], result[1])

Feulo 4
Ash 2
Brock 1

In [ ]:
# ler dos arquivos
with eng.connect() as con:
  authors = Table('Authors', meta, autoload=True)
  books = Table('Books', meta, autoload=True)
  stm = select([authors.join(books)])
  rs = con.execute(stm) 
  for row in rs:
    print(row['Name'], row['Title'])

In [ ]:
class Aluno:
  def __init__(self, nome, ra):
    self.nome = nome
    self.ra =ra

  def dizer_oi(self):
    print("oi, eu sou o " + self.nome )

In [ ]:
guilherme = Aluno("Guilherme", 123456)

In [ ]:
guilherme.save()

'Guilherme'

In [ ]:
guilherme.dizer_oi()

oi, eusou o Guilherme

In [ ]:
joao = Aluno("Joao", 4321)

In [ ]:
joao.nome

'Joao'

In [ ]:
joao.dizer_oi()

oi, eu sou o Joao

### Object-Relational Mapping (ORM)

In [ ]:
insp = inspect(eng_postgres)
print(insp.get_table_names())

['Cars', 'cars', 'Carros']

In [ ]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String
from sqlalchemy.orm import sessionmaker
from sqlalchemy.exc import IntegrityError

In [ ]:
# Classes Bases e Sessão
Base = declarative_base(bind=eng_postgres)
Session = sessionmaker(bind=eng_postgres)

In [ ]:
class Carro(Base):
  __tablename__ = "Carros"

  id = Column('Id', Integer, primary_key=True, autoincrement=True)
  nome = Column('nome', String, unique=True, index=True)  
  preco = Column('preco', Integer, nullable=False)

  def __repr__(self):
    return f"<Car: {self.nome}>"

  def acelera(self):
    print("Vrrrummmm")

In [ ]:
Base.metadata.create_all()        
ses = Session()

In [ ]:
audi = Carro(nome='Audi', preco=52642)

In [ ]:
print(audi)

<Car: Audi>

In [ ]:
audi2 = Carro(nome='Audi', preco=2000)

In [ ]:
audi.acelera()

Vrrrummmm

In [ ]:
try: 
  ses.add(audi2)
  ses.commit()
except IntegrityError:
  print("Ja existe um carro com esse nome")
  ses.rollback()

Ja existe um carro com esse nome

In [ ]:
audi.name

'Audi'

In [ ]:
try:
  with Session() as s:
    s.add_all([ 
      Carro(nome='Mercedes', preco=57127),
      Carro(nome='Skoda', preco=9000),
      Carro(nome='Volvo', preco=29000),
      Carro(nome='Bentley', preco=350000),
      Carro(nome='Citroen', preco=21000),
      Carro(nome='Hummer', preco=41400),
      Carro(nome='Volkswagen', preco=21600)
    ])
    s.commit()
except Exception as e:
  print("Deu ruim!")

In [ ]:
# Fazendo a query
with Session() as s:
  rs = s.query(Carro).all()
  for car in rs:
    print(car.nome, car.preco)

Audi 52642
Mercedes 57127
Skoda 9000
Volvo 29000
Bentley 350000
Citroen 21000
Hummer 41400
Volkswagen 21600

In [ ]:
from sqlalchemy.sql import func

In [ ]:
with Session() as s:
  carros_caros = s.query(func.avg(Carro.preco)).filter(Carro.preco>25000).all()

In [ ]:
carros_caros

[(Decimal('132910.500000000000'),)]

In [ ]:
carros_caros[4].preco

100000

In [ ]:
mercedez = carros_caros[1]

In [ ]:
mercedez.preco

100000

In [ ]:
with Session() as s:
 hummer = s.query(Carro).filter(Carro.nome=="Hummer").first()

In [ ]:
if hummer:
  print(hummer.nome)
else:
  print("Nome não existente")

Nome não existente

In [ ]:
with Session() as ses: 
  try:
    ses.delete(hummer)
    ses.commit()
  except IntegrityError:
    print("Ja existe um carro com esse nome")
    ses.rollback*()

In [ ]:
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

In [ ]:
Base = declarative_base(bind=eng_postgres)

class Author(Base):
  __tablename__ = "Authors"
 
  author_id = Column('author_id', Integer, primary_key=True, autoincrement=True)
  name = Column(String)

  def __init__(self, name):
    self.name = name

  def __repr__(self):
    return f"<Author: {self.name}>"

class Book(Base):
  __tablename__ = "Books"
 
  book_id = Column(Integer, primary_key=True, autoincrement=True)
  title = Column(String)      
  author_id = Column(Integer, ForeignKey("Authors.author_id"),nullable=False,)    
  author = relationship("Author", backref="books")

  def __init__(self, title):
    self.title = title
 

  def __repr__(self):
    return f"<Book: {self.title} - {self.author.name}>"

In [ ]:
Base.metadata.create_all()

In [ ]:
jane =  Author('Jane Austen')
leo = Author('Leo Tolstoy')
heller =  Author('Joseph Heller')
dickens = Author('Charles Dickens')

In [ ]:
ses.rollback()

In [ ]:
jane = ses.query(Author).filter(Author.name == "Jane Austen").first()
leo= ses.query(Author).filter(Author.name == "Leo Tolstoy").first()
heller = ses.query(Author).filter(Author.name == "Joseph Heller").first()
dickens = ses.query(Author).filter(Author.name == "Charles Dickens").first()

DetachedInstanceError: ignored

In [ ]:
jane.books.append(Book('Emma'))

DetachedInstanceError: ignored

In [ ]:
leo.books.append(Book('War and Peace'))
heller.books.append(Book('Catch XII'))
leo.books.append(Book('Good as Gold'))
jane.books.append(Book('Anna Karenia'))
dickens.books.append(Book('David Copperfield'))

In [ ]:
ses.add_all([leo, heller, jane, dickens])
ses.commit()

In [ ]:
with Session() as s:
  res = s.query(Author).all()
  print(res)

[<Author: Jane Austen>, <Author: Leo Tolstoy>, <Author: Joseph Heller>, <Author: Charles Dickens>]

In [ ]:
with Session() as s:
  res = s.query(Book).all()
  print(res)

[<Book: Emma - Jane Austen>, <Book: War and Peace - Leo Tolstoy>, <Book: Catch XII - Joseph Heller>, <Book: David Copperfield - Charles Dickens>, <Book: Good as Gold - Joseph Heller>, <Book: Anna Karenia - Leo Tolstoy>]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SAWarning: relationship 'Book.author' will copy column Authors.author_id to column Books.author_id, which conflicts with relationship(s): 'Author.books' (copies Authors.author_id to Books.author_id). If this is not the intention, consider if these relationships should be linked with back_populates, or if viewonly=True should be applied to one or more if they are read-only. For the less common case that foreign key constraints are partially overlapping, the orm.foreign() annotation can be used to isolate the columns that should be written towards.   The 'overlaps' parameter may be used to remove this warning.

In [ ]:
with Session() as s:
  res = s.query(Author).filter(Author.name=="Leo Tolstoy").first()
  print(res.name)
  for book in res.books:
    print (book.title)

Leo Tolstoy
War and Peace
Anna Karenia

In [ ]:
ses.close()

In [ ]:
with Session() as s:
  res = s.query(Author).filter(Author.books.any(title="Good as Gold")).first()
  print(res.name)

Leo Tolstoy

In [ ]:
with eng_postgres.connect() as con:
  rs = con.execute(text("SELECT * FROM Books"))
  print(rs.fetchall())

ProgrammingError: ignored

In [ ]:
insp.get_table_names()

['Authors', 'Books', 'Cars', 'cars']

In [ ]:
insp.get_schema_names()

['information_schema', 'public']

In [ ]:
ses.query(Book).all()

[<Book: War and Peace - Leo Tolstoy>,
 <Book: Catch XII - Joseph Heller>,
 <Book: Good as Gold - Leo Tolstoy>,
 <Book: Anna Karenia - Jane Austen>,
 <Book: David Copperfield - Charles Dickens>]

In [ ]:
with Session() as s:
  s.query(Book).all()

In [ ]:
ses.commit()

In [ ]:
ses.is_active

True